body {
  background-image: url("../images/bg.jpg");
}

h1, h2, h4 {
  font-family: Verdana;
  color: #cccccc;
  font-weight: bold;
  text-align: center;
}

button {
  height: 265px;
  width: 265px;
}

.navtext {
  font-size: 18px
}

